/* navbar */
.ms_navbar {
    background-color: white;
    margin: 0;
}

#logo_nav {
    display: inline-block;
    height: 70px;
    padding: 20px 0;
}
#logo_nav_img {
    height: 100%;
}

.ms_nav_btn {
    float: right;
    height: 70px;
    margin: 0px;
    padding: 20px 10px;
    background-color: transparent;
    border: solid 1px transparent;
}
.ms_nav_btn span {
    display: block;
    margin: 2px;
    width: 20px;
    border: solid 1px blue;
}

.ms_list_inline {
    list-style: none;
    padding: 0;
    margin: 0;
}
.ms_list_inline li {
    display: inline-block;
    line-height: 70px;
}
.ms_list_inline a {
    color: #031c4e;
    text-decoration: none;
    font-size: 16px;

}

.ms_navlist_right {
    text-align: right;
}
.ms_navlist_right li {
    margin-left: 10px;
}
.ms_navlist_left li {
    margin-right: 10px;
}

.ms_btn {
    background-color: transparent;
    border: solid 1px #2285fd;
    color: #2285fd;
    font-weight: bold;
}

/* jumbotron */
#jumbotron {
    background-image: url("../img/bg-banner-home.jpg");
    background-size: cover;
    margin-top: 70px;
    padding: 50px 0;
}

.ms_jumbotron_text {
    color: white;
}
.ms_jumbotron_text h1 {
    font-size: 60px;
    font-weight: bold;
}
.ms_jumbotron_text p {
    font-size: 22px;
}

.ms_google_form {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}
.ms_google_form h3 {
    color: #031c4e;
    font-size: 30px;
    font-weight: bold;
}
.ms_google_form h3:nth-child(2) {
    color: #006aff;
}
.ms_google_form input {
    font-size: 16px;
}
.ms_google_form input::placeholder {
    color: #757575;
    opacity: 1;
}
.ms_google_form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.ms_btn_blue {
    background-color: #579aff;
    color: white;
    font-weight: bold;
}
.ms_btn_white {
    position: relative;
    background-color: white;
    color: #757575;
    font-weight: bold;
    box-shadow: 1px 1px 1px #757575;
}
.ms_btn_white img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
}

.ms_google_form p {
    font-weight: bold;
    font-size: 12px;
    color: #031c4e;
}
.ms_google_form p a {
    color: #046fff;
    text-decoration: underline;
}

/* sponsors */
#sponsors {
    padding: 40px 0 30px;
    background-color: #f3f5f9;
}

#sponsors h4 {
    color: #6f7b97;
    font-size: 16px;
    font-weight: bold;
}

#sponsors .row {
    line-height: 110px;
}
#sponsors img {
    width: 100%;
    height: 100px;
}

/* main */
.ms_section_title {
    color: #031c4e;
    font-size: 34px;
    font-weight: bold;
}

.ms_section_text {
    color: #6f7b97;
    font-size: 22px;
    /* font-weight: 500; */
}

.ms_box h5 {
    margin-top: 20px;
    color: #031c4e;
    font-weight: bold;
    font-size: 18px;
}
.ms_box p {
    color: #6f7b97;
    font-size: 16px;
}

.ms_main_link {
    color: #006aff;
    font-size: 14px;
    font-weight: bold;
}

/* sezione configuration */
#configuration {
    padding: 70px 0;
}

.ms_wrapper80 {
    width: 80%;
    margin: 50px auto 0;
}

.ms_list ul {
    padding-left: 10px;
    list-style: none;
}
.ms_list li {
    line-height: 50px;
}
.ms_list {
    border-left: solid 1px #ccc;
}

.ms_slide_box {
    position: relative;
    margin: 70px auto 0;
    width: 50%;
}
.ms_slide_box i {
    font-size: 40px;
    font-weight: bold;
    color: #031c4e;
}
.ms_slide_box i:nth-child(1) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -50px;
    opacity: 0.5;
}
.ms_slide_box i:nth-child(3) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -50px;
}

/* sezione design */
#design {
    padding: 70px 0;
    background-color: #f3f5f9;
}

#design p {
    padding: 30px 0;
}

#slide_design {
    width: 100%;
}

.ms_slide_box figcaption {
    padding: 20px 0 15px;
    color: #031c4e;
    font-size: 16px;
}

.ms_circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: solid 1px #006aff;
}
.ms_circle_full {
    background-color: #006aff;
}

/* sezione features */
#features {
    padding: 70px 0;
}

#features .ms_box {
    margin-top: 30px;
}

/* sezione service */
#service {
    padding: 70px 0;
    background-image: linear-gradient(#064cc6, #001d99);
}

#service .ms_section_title {
    color: white;
}

.ms_table {
    padding: 15px;
    font-size: 14px;
}
.ms_table_col1 {
    color: white;
    font-weight: bold;
}
.ms_table_col2 {
    color: white;
}
.ms_table a {
    color: #00d5d1;
}

.ms_table .row {
    line-height: 40px;
    border-bottom: solid 1px white;
}

/* sezione development */
#development {
    padding: 70px 0;
    background-color: #f3f5f9;
}

#development .ms_slide_box {
    margin-bottom: 30px;
    padding: 50px 10px;
    background-color: white;
    border-radius: 5px;
}
#development .ms_slide_box img {
    display: block;
    margin: 0 auto 30px;
    max-height: 50px;
    max-width: 100%;
}

#development .ms_slide_box p:not(.ms_section_text) {
    font-size: 16px;
    color: #031c4e;
    margin-bottom: 30px;
}

/* sezione start */
#start {
    padding: 70px 0;
    background-image: linear-gradient(#064cc6, #001d99);
}

#start .ms_section_title {
    color: white;
}
#start .ms_btn {
    background-color: white;
    border-color: white;
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 18px;
}

/* footer */
footer {
    padding: 70px 0;
    background-color: #031c4e;
}

.ms_footer_left img{
    margin-bottom: 10px;
}
.ms_footer_text {
    font-size: 16px;
    color: white;
    opacity: 0.7;
}
.ms_footer_text span {
    color: #7a859d;
}

.ms_social_links {
    padding: 0;
    list-style: none;
}
.ms_social_links li {
    display: inline-block;
    margin-right: 10px;
}
.ms_social_links a {
    font-size: 25px;
    color: #7a859d;
}

.ms_footer_links {
    padding: 0;
    list-style: none;
}
.ms_footer_links li {
    line-height: 30px;
}
.ms_footer_links li:first-child {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width: 1199px) {
    
    .ms_display_none {
        display: none;
    }

    .ms_jumbotron_text h1 {
        font-size: 50px;
    }

    .ms_slide_box {
        margin: 120px auto 60px;
        width: 50%;
    }
}

@media screen and (max-width: 991px) {
    .ms_jumbotron_text h1 {
        font-size: 40px;
    }

    .ms_wrapper80 {
        width: 100%;
    }
    .ms_list {
        margin-bottom: 30px;
    }
}
